{% if not items is empty %}
    {% for itemCategory, categoryItems in items %}
        <strong>{{ itemCategory }}</strong><br/>
        <ul>
            {% for itemData in categoryItems %}
                <li>
                    <a href="#">
                        {% if itemData.item is empty %}
                            {{ itemData.equipSockettypeR.item.name|raw }}
                        {% else %}
                            {{ itemData.item.name|raw }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}