{% if not items is empty %}
    {% for itemCategory, categoryItems in items %}
        <div class="tableCell">
            <strong>{{ itemCategory }}</strong><br/>
            <ul>
                {% for itemData in categoryItems %}
                    <li>
                        <a href="#">
                            {% if not itemData.item is empty %}
                                {{ itemData.item.name|raw }}
                            {% endif %}
                            {% if not itemData.sockettype is empty %}
                                {% if itemData.sockettype.notfixed %}
                                    {% if not itemData.sockettype.slot1 is empty %}
                                        (1)
                                    {% endif %}
                                    {% if not itemData.sockettype.slot2 is empty %}
                                        (2)
                                    {% endif %}
                                    {% if not itemData.sockettype.slot3 is empty %}
                                        (3)
                                    {% endif %}
                                {% else %}
                                    (V)
                                {% endif %}
                        {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}