{% if not items is empty %}
    {% for itemCategory, categoryItems in items %}
        <div class="tableCell">
            <strong>{{ itemCategory }}</strong><br/>
            <ul>
                {% for itemData in categoryItems %}
                    <li>
                        <a href="{{ itemData.item|itemLink }}">
                            {% if not itemData.item is empty %}
                                {{ itemData.item.name|raw }} {{ socketSuffix(itemData.sockettype) }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}