{{ skill.name }} <i>({{ skill.type | replace({'AE':'Ä'}) }})</i>
{% if skill.description is not empty %}
    <br/>
    <span style="font-style: italic; font-size: small;">
        {{ skill.description }}
    </span>
{% endif %}
