{% extends '_layout.html.twig' %}
{% block headline %}Startseite{% endblock %}
{% block content %}
    <h2>Willkommen!</h2>
    <hr/>
    <br/>
    <p>
        Nachdem der Zahn der Zeit Xenoblade.org eingeholt hatte, musste die Seite neu aufgesetzt werden, damit die Seite auch in Zukunft noch robust läuft.<br/>
        Die Seite ist noch nicht komplett, aber hier schonmal die Inhalte, die wiederhergestellt sind!<br/>
        <strong>(Bitte beachtet, dass die meisten Links innerhalb der Daten noch nicht wieder funktionieren)</strong><br/>
        <br/>
        Vielen Dank für die Geduld und alles Liebe!<br/>
        Sami
    </p>
    <br/>
    <hr/>
{% endblock %}