{% extends '_layout.html.twig' %}
{% block headline %}Startseite{% endblock %}
{% block content %}
    <h2>Willkommen!</h2>
    <hr/>
    <br/>
    <p>
        Nachdem der Zahn der Zeit Xenoblade.org eingeholt hatte, mussten einige technische Veränderungen durchgeführt werden, damit die Seite auch in Zukunft noch robust läuft.<br/>
        So ist dies nun eine alleinstehende Seite ohne ein veraltetes Wordpress im Hintergrund. Tatsächlich musste ich grundlegend Strukturen und Seiten und das gesamte Backend neumachen, ich hoffe dabei alles wie früher richtig abgebildet zu haben, sollten euch Fehler im Vergleich zur alten Version auffallen, meldet euch bitte im <a href="#">Forum</a>!<br/>
        <br/>
        Vielen Dank für die Geduld und alles Liebe!<br/>
        Sami
    </p>
{% endblock %}