<table class="guide-table">
    {% for chaptername, Persons in chapterInvitePersons %}
        <tr class="tableheadline">
	        <td colspan="6">
		        <h3> {{ chaptername }} </h3>
	        </td>
        </tr>
        <tr class="tablehead">
	        <td>
	        </td>
	        <td width="150">
		        Name:
	        </td>
	        <td width="">
		        Ort:
	        </td>
	        <td width="">
		        Uhrzeit:
	        </td>
	        <td>
		        Karte:
	        </td>
	        <td>
		        Hinweise:
	        </td>
        </tr>

        {% for person in Persons %}
            <tr class="{{ loop.index0 is odd ? "odd" : "even" }}" style="{{ loop.last ? "border-bottom:1px #bbb solid;" }}">

                {% include 'persons/_person_table_data.html.twig' with { 'person': person }
             %}
                <td>
                    {{ person.colony6description  | raw }}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
