<li>
    <a href="{{ path('storyfights') }}">Handlungskämpfe</a>
</li>
<li>
    <a href="{{ path('colony6') }}">Kolonie 6 Ausbau</a>
</li>
<li>
    <a href="{{ path('extraskilltrees') }}">Tiefe Charakterzüge</a>
</li>
