{% extends '_white_box_layout.html.twig' %}

{% block headline %}Charakter: Reyn{% endblock %}
{% block submenu %}
    <ul class="submenu-rv">
        {% include 'guides/_submenu.html.twig' %}
    </ul>
{% endblock %}
{% block content %}
<p>
Anbei der von Chekoby verfasste Charakterguide zu Reyn:
<br>
(Das Xenoblade.org-Team dankt {% include 'emoticons/_smile.html.twig' %})
</p>
<br>
<p>
Es gibt 2 Waffenmöglichkeiten für Reyn:
<br>
Tank: <strong>Titanwächter</strong> (Möglichst viele Sockel) (610-700 ATK, 100 PhA, 50 ÄtA, 0% Krit., 22% Block)
<br>
Off-Tank: <strong>Atomramme</strong> (3 Sockel) (750-820 ATK, 75 PhA, 50 ÄtA, 5% Krit., 20% Block)
</p>
<br>
<p>
Ihr solltet in die Waffen am besten einfach Wut+ Juwelen reintun, falls ihr das aber nicht wollt habe ich noch eine tolle Kombination rausgefunden:
<br>
1. Wut+ VI 2. RP-Raub VI 3. Umwerfen+ VI
<br>
(P.S. Wenn ihr mit Reyn leveln wollt, hohlt euch die Bonusramme! (Siehe Wiki)
</p>
<p>
<em><strong>Merke!</strong></em>
<br>
<em><strong>Juwelen die man auch in eine Rüstung reintun kann, nicht an die Waffe verschwenden! Das ist sinnlos!</strong></em>
</p>
<br>
<p>
Als Rüstung solltet ihr das <strong>M100-Set</strong> benutzten, es gibt zwar stärkere Rüstungen (Ledios-Set), nur leider schwer mit Sockeln zu finden! Für die Leute, die mehr auf mittelschwere Rüstung stehen gäbe es noch die Option "<strong>Glorienrüstung</strong>".  Sieht super aus, ist nicht so schwer, nur es ist leider schon gesockelt, wobei das nicht so schlimm ist. Als letzte Option gäbe es noch das <strong>Lanzelot-Set</strong>, Mittlere Gewichtsklasse, gutes Aussehen und leicht mit Sockeln zu finden. Falls aber die <strong>Glorienrüstung</strong> oder das <strong>Lanzelot-Set</strong> getragen wird, unbedingt Sharla's Talent "<span style="color: #3366ff;"><strong>Mittelgewichtsexperte</strong></span>" verknüpfen, das gibt noch einen tollen PhA und ÄtA Bonus.
</p>
<p>
Die Sockel sind "eigentlich" euch überlassen, Es empfiehlt sich 1 Max. KP+ (wenn nicht schon 9999 KP) und ansonsten Sachen wie Ohnmacht-, Panik-, Umwerf- oder Zielzwang-Resistenz. Phsisch. Barriere passt auchnoch super, aber bloß nicht PhA+, dass ist meiner Meinung nach Verschwendung.
</p>
<br>
<p>
Kommen wir nun zum komplizierten teil; den Skills.
<br>
(Skills mit einem (X) davor solltet ihr mitnehmen, Skills mit einem () könnt ihr nehmen, ist aber nicht SO gut)
<br>
(<strong>Hinweis! Es kann immer nur eine Aura aktiv sein!)</strong>
</p>
<br>
<ul>
	<li><span style="color: #808080;"><strong>Wilder Hohn</strong></span>: Reyn's Spezialfähigkeit. Zieht VIEL Wut auf sich, nicht alles. Tipp: Immer benutzten, wenn die Wut auf Reyn schwindet.</li>
	<li><strong>(X)<span style="color: #ff0000;">Hammerschlag</span></strong>: Ein langsamer, eher schwacher Angriff der die Wut auf Reyn steigt und alles um das Ziel schädigt. Tipp: IMMER benutzen wenn möglich! So bleibt der Wut-Wert stets hoch! Unbedingt hochskillen!</li>
	<li><strong>(X)<span style="color: #008000;">Niederschlag</span></strong>: Ein schneller, schwacher Schlag auf die Beine, wirft schawnkende Gegner für 3 Sekunden um. HINWEIS: Reyn als KI benutzt ab und zu diesen Skill nicht, seid gewarnt! Unbedingt hochskillen um öfter zu benutzen!</li>
	<li><span style="color: #0000ff;"><strong>Wachdienst</strong></span>: Wenn aktiviert, Blockt man jeden Angriff, nur selber kann man nicht angreifen <strong>und</strong> sich nicht bewegen. Ernsthaft: Der Skill ist schei*e. Nicht hochskillen, nicht benutzen.</li>
	<li><strong>()<span style="color: #ff0000;">Kriegsschwung</span></strong>: Wenn Reyn diesen Skill aktiviert, dreht er sich selbst 4 mal um seine Achse und schadet 4 mal den Gegnern um sich herum. Jeder Treffer und jeder Gegner füllen seine Spezialanzeige. Tipp: Auch benutzen wenn nur 1 Gegner da ist um die Spezialleiste zu füllen! 4-6 Hochskillen. (Diesen Skill kann man anstatt <span style="color: #ff0000;"><strong>Lariat</strong></span> mitnehmen, eure Entscheidung.</li>
	<li><strong>(X)<span style="color: #ff0000;">Schwertramme</span></strong>: Dieser Skill hat meines Wissens den stärksten Skillschaden im Spiel. Wenn der Gegner nicht so groß ist, hat er sogar die Chance, den Gegner nach hinten zu schießen. Tipp: immer benutzen wenn möglich! Hochskillen!</li>
	<li><span style="color: #ff6600;"><strong>Berserker</strong></span>: Aura, mit der Auto-Angriffe und <span style="color: #808080;"><strong>Wilder Hohn</strong></span> flächenwirksam werden. PhA sinkt um 25% und STR steigt bei Stufe 10 um 210%. Lieber nicht mitnehmen, nur wenn's sein muss. Nicht unbedingt hochskillen, nur wenn's gebraucht wird.</li>
	<li><strong>(X)Schildstoß</strong>: Ein schneller, schwacher Angriff der umgeworfene Feinde für 2 Sekunden ohnmächtig macht. Tipp: Immer benutzen wenn Feind umgeworfen ist. Hochskillen wäre sinnvoll.</li>
	<li><span style="color: #ff6600;"><strong>Kontakt</strong></span>: Aura, die Zielzwang beim Gegner auslöst. Reyn's <span style="color: #808080;"><strong>Wilder Hohn</strong></span> erzeugt nun 1,25.fache Wut. Nutzlos, Reyn hat immer Aggro bei mir. Nicht hochskillen.</li>
	<li><strong>()<span style="color: #ff6600;">Letztes Gefecht</span></strong>: Falls Reyn sterben sollte und diese Aura aktiv ist, wird er wiederbelebt um eine bestimme Anzahl seiner Max. KP und das füllt die Gruppenleiste. Tipp: Nach Visionen benutzen die tödlich sind. Hochskillen ist nicht nötig.</li>
	<li><strong>()<span style="color: #ff6600;">Zorn</span></strong>: Aura, die erhaltenen Physischen Schaden um 25% reduziert und eigene Angriffskraft um 25% senkt. Reyn hat jetzt aber Stacheln die den Gegner schaden wenn Reyn angegriffen wird(Schaden erhöht sich pro Reyn's Level). Tipp: immer benutzen! Hochskillen nur nötig wenn verwendet wird.</li>
	<li><strong>()<span style="color: #0000ff;">Kraft sammeln</span></strong>: Wenn dieser Skill aktiviert wird, verursacht Reyn's nächster Skill immensen Schaden, das kostet aber seine Spezialanzeige. Tipp: nach diesem Skill Schwertramme benutzen! Hochskillen nur nötig wenn verwendet wird.</li>
	<li><strong>(X)<span style="color: #ff0000;">Knochenhaken</span></strong>: Schneller, mittelstarker Angriff der Reyn's Spezialanzeige auffüllt. Tipp: Immer benutzen. 'Nuff said. Unbedingt hochskillen!</li>
	<li><strong>(X)<span style="color: #ff0000;">Drehkick</span></strong>: Schneller, starker Angriff der Lähmung am Gegner verursachen kann.Nach <span style="color: #ff0000;"><strong>Knochenhaken</strong></span> senkt der Angriff die AGI des Gegners um 25% Tipp: Immer nach <span style="color: #ff0000;"><strong>Knochenhaken</strong></span> benutzen! Hochskillen wäre gut.</li>
	<li><span style="color: #cc99ff;"><strong>Aura Explosion</strong></span>: Reyn's einziger Ätherangriff. Schädigt alle Gegner um Reyn im GROßEN Umkreis und senkt deren STR um 25%. Es muss eine Aura an sein (Sie wird nicht verschwendet!) und der Skill steigert Reyn's Wut. Es ist ein guter Skill, nur die anderen sind besser, da müsste er 2 Skills opfern für eine Aura und diesen Skill. Nicht hochskillen.</li>
	<li><strong>(X)<span style="color: #ff6600;">Ankerkette</span></strong>: Diese Aura schützt Reyn vor Rückstoß und Rückwurf, die Wut steigt immer mehr an und Reyn verliert auch keine Wut. Tipp: Immer benutzen! (Es scheint, dass die KI diesen Skill nie benutzt, dann kann man diesen Skill mit einem anderen ersetzten.) Hochskillen wäre gut.</li>
	<li><strong>(X)<span style="color: #ff0000;">Lariat</span></strong>: Meiner Meinung nach die verbesserte Version von <span style="color: #ff0000;"><strong>Kriegsschwung</strong></span>. Starker Angriff, greift jeden Gegner Kegelförmig vor Reyn an und für jeden Treffer füllt es die Spezialanzeige. Tipp: Auch benutzen, wenn nur ein Gegner da ist. Tipp 2: Du solltest dich immer günstig hinstellen bevor die diesen Skill benutzt. Unbedingt hochskillen.</li>
</ul>

<br>
<p>
Damit wären wir mit den Skills durch, jetzt kommt noch eine gekürzte Form zu den Talenten. Die Grundzüge sind: Willenskraft, Heißblütigkeit und Eifer. Die Tieferen Züge sind: Loyalität und Ungeduld.
<br>
(P.S. Ich empfehle, alle Züge immer etwa auf dem gleichem Stand zu haben, aber mir ist egal wie ihr das macht )
</p>
<br>

<p>
<em><strong>Willenskraft, wenn alle Talente erlernt und aktiv: +100STR</strong></em>
</p>
<br>
<ul>
	<li>Ein eher nutzloser Charakterzug</li>
	<li>Als letztes (von den 3 Standardzügen) hochziehen</li>
	<li>Wichtige Talente: <span style="color: #ff6600;"><strong>Hitze des Gefechts</strong></span>, <span style="color: #ff6600;"><strong>Entschlossenheit</strong></span></li>
	<li>Verknüpfungen: <span style="color: #ff6600;"><strong>Hitze des Gefechts </strong></span>(Gruppe)</li>
</ul>
<br>

<p>
<em><strong>Heißblütigkeit, wenn alle Talente erlernt und aktiv: +15% Krit. Rate</strong></em>
<br>
</p>
<ul>
	<li>Als zweites (von den 3 Standardzügen) hochziehen</li>
	<li><span style="color: #3366ff;"><strong>Schwerer Held</strong></span> sollte man sich als aller erstes überhaupt holen</li>
	<li>Wichtige Talente:<span style="color: #3366ff;"> <strong>Schwerer Held</strong></span>, <span style="color: #ff6600;"><strong>Mutiger Spott</strong></span>, <span style="color: #ff6600;"><strong>Heil-Inspiration</strong></span>,<span style="color: #ff6600;"> <strong>Heldenhafter Spott</strong></span></li>
	<li>Verknüpfungen: <span style="color: #3366ff;"><strong>Schwerer Held</strong></span> (Wo nötig ist), <span style="color: #ff6600;"><strong>Heil Inspiration</strong></span> (Gruppe)</li>
</ul>
<br>
</p>

<p>
<em><strong>Eifer, wenn alle Talente erlernt und aktiv: +15 AGI</strong></em>
</p>
<br>
<ul>
	<li>Als erstes (von den 3 Standartzügen) hochziehen</li>
	<li><span style="color: #3366ff;"><strong>Bodybuilder</strong></span> direkt nach <span style="color: #3366ff;"><strong>Schwerer Held</strong></span> holen</li>
	<li>Wichtige Talente: <span style="color: #3366ff;"><strong>Bodybuilder</strong></span>, <span style="color: #3366ff;"><strong>Kampfpersöhnlichkeit</strong></span>, <span style="color: #3366ff;"><strong>Kriegsbeute</strong></span>, <span style="color: #3366ff;"><strong>Muskelmauer</strong></span></li>
	<li>Verknüfungen: <span style="color: #3366ff;"><strong>Bodybuilder</strong></span> (Gruppe), <span style="color: #3366ff;"><strong>Kampfpersöhnlichkeit</strong></span> (Gruppe), <span style="color: #3366ff;"><strong>Kriegsbeute</strong></span> (Gruppe), <span style="color: #3366ff;"><strong>Muskelmauer</strong></span> (Gruppe)</li>
</ul>
<br>

<p>
<em><strong>Loyalität, wenn alle Talente erlernt und aktiv: +5</strong></em><em><strong>0 PhA</strong></em><em><strong>(Freischaltbar durch die Mission <a href="{{ path('missions') }}#m351" target="_blank">Insignien der Freundschaft</a>) </strong></em>
</p>
<br>
<ul>
	<li>Wichtige Talente: <em><strong>Alle</strong></em></li>
	<li>Dieser Charakterzug oder Ungeduld sollten aktiv sein, eure Entscheidung.</li>
	<li>Verknüpfungen: <span style="color: #ff6600;"><strong>Freundschaftsbande</strong></span> (Gruppe), <span style="color: #ff6600;"><strong>Schulter an Schulter</strong></span> (Gruppe), <span style="color: #ff6600;"><strong>Für immer Freunde</strong></span> (Gruppe)</li>
</ul>
<br>

<p>
<em><strong>Ungeduld, wenn alle Talente erlernt und aktiv: +20% Konterrate (Freischaltbar durch die Mission <a href="{{ path('missions') }}#m301" target="_blank">Kochkampf – Entscheidung</a>)</strong></em>
</p>
<br>
<ul>
	<li>Wichtige Talente: <em><strong>Alle</strong></em></li>
	<li>Dieser Charakterzug oder Loyalität sollten aktiv sein, eure Entscheidung.<strong></strong><em><strong>
</strong></em></li>
	<li>Verknüpfungen: <span style="color: #ff6600;"><strong>Randalieren</strong></span> (DamageDealer), <span style="color: #ff6600;"><strong>Temposchlag</strong></span> (DamageDealer), <span style="color: #ff6600;"><strong>Schmerz zu Wut</strong></span> (Gruppe, außer Sharla)</li>
</ul>
<br>
<p>
<a href="http://www.xenoblade.org/forum/hilfestellung/charakterguide-reyn-der-tank/">Hier geht es zum Original im Forum »</a>
{# TODO: update link, when forum back online #}
<br>
(Mit Kommentaren und zur offenen Diskussion)
</p>
{% endblock %}
